/* weapp */
@import '@styles/theme.scss';
page {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
}
input,
view,
text,
scroll-view {
  box-sizing: border-box;
}
view image {
  display: block;
}
// 小程序不支持伪类调试，但是 button 的边框是通过伪元素实现的
button {
  outline: none;
  &:after {
    display: none;
  }
}
